<div class="ui-fluid">
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Servicios adicionales del sistema, prestados por terceros</h1>
            <p-tabView (onChange)="onTabChange($event)">
                <p-tabPanel header="Cálculo de liquidación" [selected]="true">
                    <form>
                        <div class="ui-g form-group">
                            <div class="ui-g-6 ui-md-4 ui-lg-2">
                            <span class="md-inputfield">
                                <p-calendar showButtonBar="true" dateFormat="dd/mm/yy" [(ngModel)]="fechaIngreso" required = "true"
                                            [monthNavigator]="true" [yearNavigator]="true" yearRange="1917:2019"
                                            name="fechaIngreso"></p-calendar>
                                <label>Fecha de ingreso</label>
                            </span>
                            </div>
                            <div class="ui-g-6 ui-md-4 ui-lg-2">
                            <span class="md-inputfield">
                                <p-calendar showButtonBar="true" dateFormat="dd/mm/yy" [(ngModel)]="fechaEgreso" name="fechaEgreso"
                                            [monthNavigator]="true" [yearNavigator]="true" yearRange="1917:2019"></p-calendar>
                                <label>Fecha de egreso</label>
                            </span>
                            </div>
                            <div class="ui-g-6 ui-md-4 ui-lg-2" >
                            <span class="md-inputfield">
                                <p-spinner size="10" [step]="0.10" [(ngModel)]="salarioMensual" name="salarioMensual"></p-spinner>
                                <label>Salario mensual</label>
                            </span>
                            </div>
                            <div class="ui-g-6 ui-md-4 ui-lg-2" >
                            <span class="md-inputfield">
                                <p-spinner size="10" [formatInput]="false" [(ngModel)]="diasAguinaldo" name="diasAguinaldo"></p-spinner>
                                <label>Días de aguinaldo</label>
                            </span>
                            </div>
                            <div class="ui-g-6 ui-md-4 ui-lg-2" >
                            <span class="md-inputfield">
                                <p-spinner size="10" [formatInput]="false" [(ngModel)]="vacacionesAnuales" name="vacacionesAnuales"></p-spinner>
                                <label>Vacaciones al año</label>
                            </span>
                            </div>
                            <div class="ui-g-6 ui-md-4 ui-lg-2" >
                            <span class="md-inputfield">
                                <p-spinner size="10" [formatInput]="false" [(ngModel)]="vacacionesPendientes" name="vacacionesPendientes"></p-spinner>
                                <label>Vacaciones pendientes</label>
                            </span>
                            </div>
                        </div>
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-12 ui-lg-12">
                                <button pButton type="submit" label="Calcular"
                                        style="width:140px;display: block; margin-left: auto; margin-right: auto;"
                                        icon="ui-icon-rate-review" (click)="showDialog()" ></button>
                            </div>
                        </div>
                    </form>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
</div>

<p-dialog header="Resultado" [(visible)]="display" modal="true">
    Monto a devengar: ${{monto}}
    <p-footer>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <button pButton type="button" label="Ok"
                        style="width:140px;display: block; margin-left: auto; margin-right: auto;"
                        icon="ui-icon-check" (click)="closeDialog()" ></button>
            </div>
        </div>
    </p-footer>
</p-dialog>
