<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card">
                <h1>Estadísticas de la aplicación</h1>
                <div class="ui-g">
                    <div class ="ui-g-12 ui-md-12 ui-lg-12 embed-container">
                        <iframe height="400" width="600" frameborder="0" allowfullscreen
                                src="https://echarts.apache.org/en/feature.html">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
