$primaryColor: #00305E;
$primaryDarkColor: #041C2C;
$primaryLightColor: #80CBC4;
$accentColor: #7FB0CB;
$accentDarkColor: #006198;
$accentLightColor: #7FB0CB;
$accentTextColor: #212121;

@import '../sass/theme/_theme';